CREATE OR REPLACE VIEW {{ quote .Schema }}.{{ quote .Name }} AS
SELECT * EXCLUDE (_record_hash, _dlt_id, _dlt_load_id, _loaded_at, _row_num)
FROM (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY {{ range $i, $pk := .PrimaryKey }}{{ if $i }}, {{ end }}{{ quote $pk }}{{ end }}
            ORDER BY _loaded_at DESC, _record_hash DESC
        ) AS _row_num
    FROM {{ quote .Schema }}.{{ quote .HistorizedTable }}
)
WHERE _row_num = 1;
